<mat-list id="candidate-list">
    <h3 mat-subheader style="font-size: 18px; color: rgba(0,0,0,.54); justify-content: space-between">{{name}}
      <button mat-flat-button style="color: rgba(0,0,0,.54);" (click)="back()">
        <mat-icon mat-list-icon>navigate_before</mat-icon>
        &nbsp;Go back
      </button>
    </h3>
    <div *ngIf="hasCandidate">
      <mat-list-item *ngFor="let candidate of candidates">
        <mat-icon mat-list-icon>assignment_ind</mat-icon>
        <h4 mat-line style="color: rgba(0,0,0,.54);">{{candidate.name}}</h4>
        <button mat-flat-button color="primary" id="update-button">Edit</button>
        <mat-divider style="padding-left: 20px;"></mat-divider>
      </mat-list-item>
    </div>
    <mat-list-item style="margin-top: 20px;">
      <div class="button-container">
      <button mat-flat-button id="upload">Upload transcript</button>
      <button mat-flat-button id="record">Record interview</button>
      <button mat-flat-button id="mark">Mark as completed</button>
      </div>
    </mat-list-item>
</mat-list>
